<div id="app">
  <div id="wrap">
    <div class="content">
      <h1>いつでも、誰でも、無料でローン計算</h1>
      <h2 class="boxapp">月々の支払額から、総借入金額を算出したい方</h2>
      <form class="form" action="confirm1" method="POST">
        <div>
          希望支払月額:<input type="number" step="0.1" name="ge1" value="" class="formbox">万円
        </div>
        <div>
          ボーナス支払:<input type="number" name="bo1" value="" class="formbox">万円（年２回、月額に追加して支払う金額）
        </div>
        <div>
          利率　　　　:<input type="number" step="0.01" name="ri1" value="" class="formbox">％
        </div>
        <div>
          借入期間　　:<input type="number" name="ka1" value="" class="formbox">年
        </div>
        <div class="btn">
          <input class="btnin" type="submit" value="計算する">
        </div>
      </form>
      <div><img src="/images/black.jpg" alt="bar" class="bar"></div>
      
            
      <h2 class="boxapp2">総借入金額から、月々の支払額を算出したい方</h2>
      <form class="form2" action="confirm2" method="POST">
        <div>
          総借入金額　:<input type="number" name="so2" value="" class="formbox">万円
        </div>
        <div>
          ボーナス支払:<input type="number" name="bo2" value="" class="formbox">万円（年２回、月額に追加して支払う金額）
        </div>
        <div>
          利率　　　　:<input type="number" step="0.01" name="ri2" value="" class="formbox">％
        </div>
        <div>
          借入期間　　:<input type="number" name="ka2" value="" class="formbox">年
        </div>
        <div class="btn">
          <input class="btnin" type="submit" value="計算する">
        </div>
      </form>
      <div><img src="/images/black.jpg" alt="bar" class="bar"></div>
    </div>
  </div>
</div>