<div id="blog">
  <div id="wrap">
    <div class="content">
      <div class="main-center">
        <h1>情報発信</h1>
        <section class="textboxleft">
          <div>
            <h2 class="icon">情報発信・ブログ</h2>
            <p>文章投稿サービス「note」にて北海道の事、経済の事、家の事、趣味の事・・・<br>
        様々な情報を発信していますので、ぜひご覧ください。</p>
            <p class="btn"><a href="https://note.com/umi0821">noteを見る</a></p>
          </div>
        </section>
        <div><img src="/images/black.jpg" alt="bar" class="bar"></div>
      </div>
    </div>
  </div>
</div>