<div id="blog">
  <div id="wrap">
    <div class="content">
      <div class="main-center">
        <h1>情報発信</h1>
        <section class="textboxleft">
          <div>
            <h2 class="icon">情報発信・ブログ</h2>
            <p>文章投稿サービス「note」にて北海道の事、経済の事、家の事、趣味の事・・・<br>
<<<<<<< HEAD
        様々な情報を発信していますので、ぜひご覧ください。<br></p>
            
            <p><br>≪人気の記事≫<br></p>
            <a href="https://note.com/umi0821/n/n55e77d5c7fa7"><p>住宅ローンの返済期間をより長く設定することのメリットとは</p></a>
            <a href="https://note.com/umi0821/n/n2c4e3f4b124c"><p>新築一戸建ては時代遅れか</p></a>
      <div><img src="/images/bar.jpg" alt="bar" class="bar"></div>
            <p class="btn"><a href="https://note.com/umi0821">noteをもっと見る</a></p>
=======
        様々な情報を発信していますので、ぜひご覧ください。</p>
            <p class="btn"><a href="https://note.com/umi0821">noteを見る</a></p>
>>>>>>> origin/master
          </div>
        </section>
        <div><img src="/images/black.jpg" alt="bar" class="bar"></div>
      </div>
    </div>
  </div>
</div>