<div id="cont">
  <div id="wrap">
    <div class="content">
      <div class="main-center">
        <h1>個別相談・その他お問合せ</h1>
        <p>家、お金、その他様々なことについて、<span class="define">「あなたの条件に合わせて」</span>情報をお届けします！<br>
        「FPに一度相談したけど、一人の意見じゃ心配」という方にも最適です。</p>
        <section class="profile clearfix">
          <div class="profile-txt">
            <h2 class="icon">個別相談</h2>
            <p><span class="komidasi">■相談の流れ</span><br><br>
              個別相談を希望される場合は、当サービスのメールアドレス（umilhs2020@gmail.com）へご連絡ください。<br>
              ご相談内容を確認したうえで、追加で必要な情報があれば聴取させていただき、ご相談内容確定から<span class="define">3日以内（土日祝除く）</span>にあなたの条件に合わせた情報を<a href="https://note.com/umi0821"><span>note</span></a>にて公開します。<br>
              なお、このnoteは一般に公開されますが、個人を特定できる情報は一切含みませんので、ご安心ください。
            </p>
            <p><span class="komidasi">■例えばこんなご相談</span><br>
              <br>・年収400万、子ども2人の世帯ですが、月の返済は何万円以内にしたらいい？
              <br>・投資を始めてみたいけど、株、国債、投資信託・・・どれがオススメ？
              <br>・住宅ローンは可能な限り短く設定した方がいいの？
              <br>・家計診断をしてほしい！
              <br><br>過去のご相談と回答はnoteにて公開されています！
            
            <p class="btn"><a href="https://note.com/umi0821">noteはこちら</a></p>
            <div><img src="/images/bar.jpg" alt="bar" class="barbtn"></div>
            <p><span class="komidasi">■相談料金</span><br><br>
              ご相談のメール送信、及びご相談内容確定の段階では、お客様から料金を頂戴することは一切ありません。<br>
              ご相談に対する回答は、原則<span>有料note</span>で作成されますので、それを閲覧（購入）する場合のみ料金が発生します。<br>
              「相談したものの、先に疑問が解決してしまった」<br>
              「やっぱり相談するのをやめたい」<br>
              そんな時は、有料noteを買わなければOKです！<br>
              <br>
              ≪基本料金≫<br><br>
              ◆ご相談に対する回答　・・・　ご相談１項目につき100円<span class="define">（期間限定値下げ中！）</span><br>
              ◆簡単な質問・一般的な知識　・・・　無料<br>
              <br><br>
            </p>
            <p><span class="komidasi">■注意点・免責事項</span><br><br>
        １　ご相談にあたって取得した個人情報は、回答作成の目的にのみ使用し、その他には利用致しません。<br>
        ２　当サービスから発信される情報は、あくまで個人の意見であり、正確性・利益を保証するものではありません。<br>
        ３　情報は鵜呑みにせず、慎重に精査し、最終的にはお客様ご自身の判断で住宅購入・家計運営等を行ってください。<br><br><br></p>
          </div>
        </section>
        <h2 class="icon">その他のお問合せ</h2>
        <p>個別相談と同じアドレスで受け付けています。お気軽にお問合せください。<br>
        MAIL ADDRESS：umilhs2020@gmail.com</p>
        </div>
      </div>
  </div>
</div>
