<h1>北海道民のための</h1><h1> <span class=colortext>家</span> と <span class=colortext>お金</span> の相談窓口</h1>
<div id="index">
  <div id="wrap">
    
    <div class="content clearfix">
      <section class="box">
        <section class="textboxleft">
          <div>
            <h2 class="icon">北海道に特化</h2>
            <p>家や家計の事を調べていて<br>「これ、雪が降らない地域の話だよね。北海道ならどうなの？」<br>「東京の賃金水準で書いてあるから、参考にならないな・・・」<br>そう思ったこと、ありませんか？<br>当サイトは、北海道に特化したサポートサイトです！</p>
          </div>
        </section>
        <div><img src="/images/pic1.jpg" alt="pic1" class="pic"></div>
      </section>
      <div><img src="/images/black.jpg" alt="bar" class="bar"></div>
      
      <section class="box">
        <section class="textboxright">
          <div>
            <h2 class="icon">便利なローン算出ページ</h2>
            <p>家とお金の事を考えた時、やっぱり気になるのはローンの話。<br>当サイトでは、「支払月額計算」「目安ローン総額」の計算を<span class="define">無料で</span>行うことができます！</p><p class="btn"><a href="app">計算ページへ！</a></p>
          </div>
        </section>
        <div><img src="/images/pic2.jpg" alt="pic2" class="pic"></div>
      </section>
      <div><img src="/images/black.jpg" alt="bar" class="bar"></div>
      
      <section class="box">
        <section class="textboxleft">
          <div>
            <h2 class="icon">個別のお問合せに対応</h2>
            <p>「色々調べたけど、調べたい条件に当てはまらない・・・」<br>そんな時は個別相談をご活用ください！宅地建物取引士・2級FP技能士に合格したメンバーが<span class="define">あなたの条件に合わせて</span>情報を発信します！</p>
            <p class="btn"><a href="cont">個別相談へ！</a></p>
          </div>
        </section>
        <div><img src="/images/pic3.jpg" alt="pic3" class="pic"></div>
      </section>
      <div><img src="/images/black.jpg" alt="bar" class="bar"></div>
      
      <section class="box">
        <section class="textboxright">
          <div>
            <h2 class="icon">家計・生活の情報を提供</h2>
            <p>もちろん一般的な「家計相談」も喜んで承ります。<br>また、文章投稿サービス「note」にて様々なお役立ち情報も更新していますので、ぜひご覧ください。</p>
            <p class="btn"><a href="https://note.com/umi0821">noteへ！</a></p>
          </div>
        </section>
        <div><img src="/images/pic4.jpg" alt="pic4" class="pic"></div>
        <div><img src="/images/black.jpg" alt="bar" class="bar"></div>
      </section>
    </div>
  </div>
</div>