<div id="profile">
  <div id="wrap">
    <div class="content">
      <div class="main-center">
        <h1>PROFILE</h1>
        <section class="prof">
          <div class="profile-txt">
            <h2 class="icon">代表：Umi</h2>
            <h3 class="komidasi">■サービス開始の経緯</h3>
              <p>私自身、家を建てる際に色々なことを調べました。<br>
              ローンのこと、家のこと、立地、経済情勢、、、そうして調べているうちに、「まだまだ世間には北海道の情報が足りていない」という思いがどんどん強くなってきました。<br>
                <br>
              また、ハウスメーカーの紹介で何人かのFP（ファイナンシャルプランナー）の方とお話しましたが・・・<br><br>
              「家を買わせるために、無謀な提案をされていないか」<br>
              「本当にこの人は自分の事を考えてくれているのか」<br><br>
              と、だんだんと心配になってきたのを鮮明に覚えています。<br>
              <br>
              そんな自分の経験から、<span>北海道に特化した</span>情報を発信する<span>完全中立の</span>サービス≪Umi Life & Home Support≫を作りました。<br>
              少しでも、あなたの生活と、快適な住まい作りに協力できれば幸いです。<br><br></p>
            <h3 class="komidasi">■代表経歴</h3>
            <p>室蘭市生まれ。室蘭栄高校理数科、小樽商科大学経済学科卒<br>
              2014年より道内医療系企業に入社し、営業として勤務開始。<br>
              その後、健康保険・医療費助成管理業務、顧客サービス業務などを担当。<br>
              本職の傍ら、自らサービスを立ち上げるべく資格取得に取り組む。<br>
              <br></p>
            <h3 class="komidasi">■資格/技術</h3>
            <p>2017年度：ファイナンシャルプランナー3級、日商簿記3級合格<br>
              2019年度：ファイナンシャルプランナー2級、宅地建物取引士合格<br>
              2020年度：プログラミング、HP作成技術学習開始<br><br></p>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>